@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 767px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; } }

@media screen and (max-width: 480px) {
  main {
    padding: 2rem; }
    main #home h1 {
      margin-top: 10vh; }
    main .lg-heading {
      margin-top: 1rem;
      font-size: 5rem; }
  .projects {
    grid-template-columns: 1fr; } }

* {
  box-sizing: border-box; }

body {
  background: #000000, #0f0808;
  color: set-text-color(#0f0808);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: #000000;
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(15, 8, 8, 0.9); }

.dark {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: 2rem; }

h1 {
  margin-top: 0;
  font-weight: 400;
  text-align: center; }
  h1.lg-heading {
    font-size: 6rem; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem;
      transition: all 0.5s ease-out; }
      main .icons a:hover {
        color: #e0751c; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }
