@import 'config';
@import 'mobile';

* {
  box-sizing: border-box;
}

body {
  @include background;
  background : #000000,$primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

.dark {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: 2rem;
}

h1 {
  margin-top: 0;
  font-weight: 400;
  text-align: center;

  &.lg-heading {
    font-size: 6rem;
  } 
}
main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
      @include easeOut;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}
