@import 'config';
@import 'mobile';

* {
  box-sizing: border-box;
}

body {
  @include background;
  background : $home-image,$primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1 {
  margin-top: 350px;
  font-weight: 400;
  text-align: center;

  &.lg-heading {
    font-size: 8rem;
  } 
}